/* Fonts */
$main-font: "Open Sans", sans-serif;
$colour-font: #4e6c81;

/* Content Section colors */
$colour-darkblue: #0e2842;
$colour-lightblue: #87c8ee;
$heading-colour: #5ab4e8;
$btn-colour: #1b84c1;

/* Service colors */
$colour-purple: #6E4C8A;
$colour-red: #994242;
$colour-orange: #bc5938;
$colour-green: #8cad6a;
$colour-green-blue: #61a399;
$colour-blue: #759cc2;

$facebook-blue: #4c69ba;
$twitter-blue: #55acee;

$btn-radius: 2px;
$box-radius: 4px;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


/* Variables End */

body {
    font-family: $main-font;
    background-color: darken($colour-darkblue, 5%);
    color: $colour-font;
    height: 100%;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

main, section {
    display: block;
}

main {
    background-color: lighten($colour-darkblue, 82%);
    position: relative;
    margin-top: 60px;    
    width: 100%;
    z-index: 1;
}

img {
    max-width: 100%;
    width: auto;
    display: block;
}

@media screen and (min-width: 601px) {
    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .ib {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .left, .right {
        display: block;
        margin: 0 auto;
    }

    .ib {
        display: block;
    }
}

.cf:after {
   content: "";
   display: table;
   clear: both;
}

h1, h2, h3 {
    text-decoration: none;
    font-weight: 300;

}
h4, h5, h6 {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    color: $heading-colour;
}

h2 {
    font-size: 2.25em;
    color: lighten($heading-colour, 5%);
}

h3 {
    font-size: 2em;
    color: darken($heading-colour, 20%);
}

h4 {
    font-size: 1.625em;
    color: darken($heading-colour, 10%);
    font-weight: 400;
}
h5 {
    font-size: 1.25em;
    color: darken($heading-colour, 20%);
}
h6 {
    font-size: 1.125em;
    color: darken($heading-colour, 30%);
}
h5, h6 {
    font-weight: 600;
}
p {
    line-height: 1.75em;
}

p:before {
  content: "";
  width: 10em;
  display: block;
  overflow: hidden;
}

a {
    text-decoration: none;
    color: lighten($colour-darkblue, 40%);
    -webkit-transition: all 0.4s ease-in-out;
    -mox-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: lighten($colour-darkblue, 55%);
}
.btn {

    a{
        min-width: 60px;
        line-height: 38px;
        padding: 0 15px;
        font-size: 12px;
        font-size: 0.875rem;
        text-align: center;
        @include border-radius($btn-radius);
        display: inline-block;
        *display: inline;
        zoom: 1;
        background-color: $btn-colour;
        color: #eee;
    }
    a:hover {
            background-color: lighten($btn-colour,20%);
            color: #fff;
        }
}

.featuredBtn {
    text-align: center;

    a {
        min-width: 60px;
        line-height: 48px;
        padding: 0 24px;
        font-size: 1.25em;
        @include border-radius($btn-radius);
        display: inline-block;
        *display: inline;
        zoom: 1;
        background-color: $btn-colour;
        color: #ddd;
    }

    a:hover {
        background-color: lighten($btn-colour,20%);
        color: #fff;
     }
}
    
.wrap {
    width: 96%;
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1300px;
}

.contentWrap {
    @extend .wrap;
    max-width: 920px;
    p {
        text-align: justify;
    }
}

.notFound {
    text-align: center;
    padding: 5em 0;
    background-color: #fff;

    h1 {
        @extend h2;
        margin: 0 0 14px 0;
    }
}
.clear {
    clear: both;
}