/* Fonts */
$main-font: "Open Sans", sans-serif;
$colour-font: #4e6c81;

/* Content Section colors */
$colour-darkblue: #0e2842;
$colour-lightblue: #87c8ee;
$heading-colour: #5ab4e8;
$btn-colour: #365c7b;

/* Service colors */
$colour-red: #994242;
$colour-green: #8cad6a;
$colour-blue: #759cc2;

$facebook-blue: #4c69ba;
$twitter-blue: #55acee;

$btn-radius: 2px;
$box-radius: 4px;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


/* Variables End */

body {
    font-family: $main-font;
    background-color: darken($colour-darkblue, 5%);
    color: $colour-font;
    height: 100%;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

main, section {
    display: block;
}

main {
    position: relative;
    margin-top: 60px;    
    width: 100%;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: 300;

}

h1 {
    font-size: 2.75em;
    color: $heading-colour;
}

h2 {
    font-size: 2.125em;
    color: lighten($heading-colour, 5%);
}

h3 {
    font-size: 1.875em;
    color: darken($heading-colour, 30%);
}

h4 {
    font-size: 1.5em;
    color: darken($heading-colour, 10%);
}
h5 {
    font-size: 1.25em;
    color: darken($heading-colour, 20%);
}
h6 {
    font-size: 1.125em;
    color: darken($heading-colour, 30%);
}

a {
    text-decoration: none;
    color: lighten($colour-darkblue, 40%);
    -webkit-transition: all 0.4s ease-in-out;
    -mox-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: lighten($colour-darkblue, 55%);
}
.btn {

    a{
        min-width: 60px;
        line-height: 38px;
        padding: 0 15px;
        font-size: 0.875em;
        text-align: center;
        @include border-radius($btn-radius);
        display: inline-block;
        background-color: lighten($btn-colour,10%);
        color: #ddd;
    }
    a:hover {
            background-color: lighten($btn-colour,20%);
            color: #fff;
        }
}
    
.wrap {
    width: 92%;
    padding: 0 4%;
    margin: 0 auto;
    max-width: 1300px;
}
.notFound {
    text-align: center;
    padding: 5em 0;
    background-color: #fff;

    h1 {
        @extend h2;
        margin: 0 0 14px 0;
    }
}
.clear {
    clear: both;
}