/* Fonts */
$main-font: "Open Sans", sans-serif;
$colour-font: #4e6c81;

/* Content Section colors */
$colour-darkblue: #0e2842;
$colour-lightblue: #87c8ee;
$btn-colour: #365c7b;

/* Service colors */
$colour-red: #976667;
$colour-green: #aac396;
$colour-blue: #739cc3;

$facebook-blue: #4c69ba;
$twitter-blue: #55acee;

$btn-radius: 2px;
$box-radius: 4px;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


/* Variables End */

body {
    font-family: $main-font;
    font-size: 1em;
    background-color: darken($colour-darkblue, 5%);
    color: $colour-font;
    height: 100%;
    width: 100%;
}

main, section {
    display: block;
    overflow: auto;
}

main {
    background-color: #fff;
}

h1, h2, h3, h4 {
    text-decoration: none;
    font-weight: 300;
    margin: 20px 0;
}

h1 {
    font-size: 2.5em;
    color: $colour-lightblue;
}

h2 {
    font-size: 2.125em;
}

h3 {
    font-size: 1.875em;
}

h4 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #ccc;
    -webkit-transition: all 0.4s ease-in-out;
    -mox-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn {

    a{
        min-width: 60px;
        line-height: 38px;
        padding: 0 15px;
        font-size: 0.875em;
        text-align: center;
        @include border-radius($btn-radius);
        display: inline-block;
        background-color: $btn-colour;
    }
    a:hover {
            background-color: lighten($btn-colour,15%);
            color: #fff;
        }
}
    
.wrap {
    width: 94%;
    max-width: 1300px;
    padding: 0 3%;
    margin: 0 auto;
}

.clear {
    clear: both;
}