footer {
	position: relative;
}


#bottomStrip {
	@extend .strip;
	background-color: lighten($colour-darkblue, 4%);
	
	.title {
		color: #ffffff;
		font-size: 1.875em
	}

	.subtitle {
		color: #ccc;
	}
	.btn {
		text-align: center;
	}
}
#copyright {
	float: left;
	line-height: 60px;

	p {
		margin: 0;
		color: #999;
		font-size: 0.875em;
	}
}
.facebook {
	@extend .btn;
	
	a {
		background-color: $facebook-blue;
	}

	a:hover {
		background-color: lighten($facebook-blue, 5%);
	}
}

.twitter {
	@extend .btn;

	a {
		background-color: $twitter-blue;
	}

	a:hover {
		background-color: lighten($twitter-blue, 5%);
	}
}