footer {
	position: relative;
}

#bottomStrip {
	@extend .strip;
	background-color: lighten($colour-darkblue, 4%);
	
	.title {
		color: #ffffff;
		font-size: 1.875em
	}

	.subtitle {
		color: #ccc;
	}
	.btn {
		text-align: center;
	}
}

.facebook {
	@extend .btn;
	
	a {
		background-color: $facebook-blue;
	}

	a:hover {
		background-color: lighten($facebook-blue, 10%);
	}
}

.twitter {
	@extend .btn;

	a {
		background-color: $twitter-blue;
	}

	a:hover {
		background-color: lighten($twitter-blue, 10%);
	}
}

.social, #bottomNav {
	text-align: center;

	li {
		line-height: 44px;
	}

}

#bottomNav a {
	font-size: 0.875em;
	color: #aaa;
}

#bottomNav a:hover {
	color: #fff;
}