.strip {
	padding: 40px 0;

	.title {
		margin: 0 0 14px 0;
		text-align: center;
	}

	.tagline {
		max-width: 720px;
		margin: 14px auto;
		text-align: center;
		font-style: italic;
		font-weight: 300;
		font-size: 1.25em;
		display: block;
	}

	.subHeading {
		margin: 0 0 14px 0;
		text-align: center;
	}

}
#topStrip {
	@extend .strip;
	background-color: lighten($colour-darkblue, 4%);
	
	.title {
		color: #ffffff;
	}

	.tagline {
		color: #ccc;
	}

}
.lightStrip {
	@extend .strip;
	background-color: lighten($colour-lightblue, 21%);

	.tagline {
		color: lighten($colour-font, 10%);
	}
	.btn {
		text-align: center;
	}
}
.whiteStrip {
	background-color: #fff;
	padding: 40px 0;
}

#pl-logo {
	height: 36px;
}

ul#servicesList {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
	display: block;

	li.serviceBox {
		padding:  2%;
		margin: 0 0.5%;
		width: 28.333%;
		max-width: 280px;
		display: inline-block;
		vertical-align: top;
		background-color: #fff;
		@include border-radius($box-radius);
		height: 460px;

		.serviceIcon{
			width: 60px;
			margin: 20px 0 0 0;
		@include border-radius($btn-radius);
		}
		h1, h2, h3, h4,{
			margin: 0px;
		}
		p {
			text-align: justify;
		}
		.designT {
			color: $colour-red;
		}
		.devT {
			color: $colour-green;
		}
		.hostT {
			color: $colour-blue;
		}
	}
	li.serviceBox:hover {
		color: #fff;

		.designT, .devT, .hostT {
			color: #fff;
		}
	}

	li.design:hover {
		background-color: $colour-red;
	}
	li.dev:hover {
		background-color: $colour-green;
	}
	li.host:hover {
		background-color: $colour-blue;
	}

}

#meetTheTeam {
	max-width: 1040px;
	margin: 0 auto;
	text-align: center;

	h1, h2, h3 {
		margin: 16px auto;
	}
	p {
		margin: 1em auto;
	}

	#teamDesc, .teamMember, .memberAvatar, .memberDesc {
		display: inline-block;
		vertical-align: top;
	}

	#teamDesc, #teamMembers {
		width: 100%;
		margin: 0 auto;
		display: block;
	}

	#teamMembers {
		max-width: 80%;

		.teamMember {
			width: 46%;
			padding: 5% 0;
			margin: 0 2%;
			text-align: center;

			.memberAvatar {
				height: auto;
				width: 25%;
				margin: 2% auto;
				display: block;

			}
			.memberDesc {
				width: 100%;
				p {
					text-align: center;
					font-style: italic;
				}
			}
		}
	}
}

