.strip {
	padding: 40px 0;

	.title {
		margin: 0 0 14px 0;
		text-align: center;
	}

	.subtitle {
		max-width: 800px;
		margin: 14px auto 0 auto;
		text-align: center;
		font-style: italic;
		font-weight: 300;
		font-size: 1.25em;
		display: block;
	}

}
#topStrip {
	@extend .strip;
	background-color: lighten($colour-darkblue, 4%);
	
	.title {
		color: #ffffff;
	}

	.subtitle {
		color: #ccc;
	}

}
.lightStrip {
	@extend .strip;
	background-color: lighten($colour-lightblue, 23%);

	.title {
		color: $colour-lightblue;
	}

	.subtitle {
		color: lighten($colour-font, 15%);
	}
	.btn {
		text-align: center;
	}
}
.whiteStrip {
	padding: 40px 0;
}
ul#servicesList {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;

	li.serviceBox {
		padding:  2%;
		margin: 0 1%;
		width: 27%;
		display: inline-block;
		background-color: #fff;
		@include border-radius($box-radius);

		.serviceIcon{
			margin: 20px 0 0 0;
		}
		h1, h2, h3, h4,{
			margin: 0px;
		}
		.design{
			color: $colour-red;
		}
		.dev {
			color: $colour-green;
		}
		.host {
			color: $colour-blue;
		}
	}
}