.strip {
	padding: 40px 0;

	.title {
		margin: 0 0 14px 0;
		text-align: center;
	}

	.tagline {
		max-width: 720px;
		margin: 14px auto;
		text-align: center;
		font-style: italic;
		font-weight: 300;
		font-size: 1.25em;
		display: block;
	}

	.subHeading {
		margin: 0 0 14px 0;
		text-align: center;
	}

}
#topStrip {
	@extend .strip;
	background-color: lighten($colour-darkblue, 4%);
	text-align: center;
	
	.title {
		color: #ffffff;
	}

	.tagline {
		color: #ccc;
	}

}
.lightStrip {
	@extend .strip;
	background-color: lighten($colour-lightblue, 21%);

	.tagline {
		color: lighten($colour-font, 10%);
	}
	.btn {
		text-align: center;
	}
}
.whiteStrip {
	background-color: #fff;
	padding: 40px 0;
}

#featuredImg, #featuredDesc {
	display: inline-block;
	*display: inline;
    zoom: 1;
	vertical-align: middle;
}
#featuredImg {
	max-width: 780px;
	width: 60%;
}
#featuredDesc {
	max-width: 500px;
	width: 32%;

	h1.title {
		margin-top: 14px;
		font-size: 2.25em;
	}

	ul#featuredList {
		list-style-type: none;
		text-align: center;
		margin-bottom: 24px;
		padding: 0;
		font-style: italic;
		font-weight: 300;
		font-size: 1.25em;
		display: block;
		color: #ccc;

		li {
			margin: 10px 0;
		}
	}
}


#pl-logo {
	max-width: 100%;
}

ul#servicesList, ul#portfolioList {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
	display: block;

	h1, h2, h3{
		margin: 0px;
	}
	p {
		text-align: justify;
	}

	li.serviceBox, li.portfolioBox {
		padding:  2%;
		margin: 0 0.5%;
		width: 28.333%;
		max-width: 280px;
        display: inline-block;
        *display: inline;
        zoom: 1;
		vertical-align: top;
		background-color: #fff;
		@include border-radius($box-radius);

		.boxContainer {
			position: relative;
			height: 100%;
			width: 100%;
		
			.btn {
				position: absolute;
				bottom: 3%;
				width: 100%;
			}
		}
	}

	li.portfolioBox {
		height: 590px;
		
		h1 {
			@extend h4;
			margin: 0.25em 0;
		}

		.portfolio-thumbnail {
			max-width: 100%;
		}
	}

	li.serviceBox {	
		height: 460px;

		.serviceIcon{
			width: 60px;
			margin: 14px 0 0 0;
			@include border-radius($btn-radius);
		}

		.designT {
			color: $colour-red;
		}
		.devT {
			color: $colour-green;
		}
		.hostT {
			color: $colour-blue;
		}
	}

	li.serviceBox:hover {
		color: #fff;

		.designT, .devT, .hostT {
			color: #fff;
		}
	}

	li.design:hover {
		background-color: $colour-red;
	}
	li.dev:hover {
		background-color: $colour-green;
	}
	li.host:hover {
		background-color: $colour-blue;
	}
}

#meetTheTeam {
	max-width: 1040px;
	margin: 0 auto;
	text-align: center;

	h1, h2, h3 {
		margin: 16px auto;
	}
	p {
		margin: 1em auto;
	}

	#teamDesc, .teamMember, .memberAvatar, .memberDesc {
        display: inline-block;
        *display: inline;
        zoom: 1;
		vertical-align: top;
	}

	#teamDesc, #teamMembers {
		width: 100%;
		margin: 0 auto;
	}

	#teamMembers {
		max-width: 80%;

		.teamMember {
			width: 45%;
			padding: 5% 0;
			margin: 0 2%;
			text-align: center;

			.memberAvatar {
				height: auto;
				width: 25%;
				margin: 2% auto;
				display: block;

			}
			.memberDesc {
				width: 100%;
				p {
					text-align: center;
					font-style: italic;
				}
			}
		}
	}
}

