
#mainHeader {
    position: fixed;
    top: 0;
	width: 100%;
	height: 60px;
	background-color: $colour-darkblue;
	z-index: 10;
}

#logo {
	max-width: 210px;
    float: left;
    margin: 15px 0;
}

#logo img {
	display: block;
	width: 100%;
}

/* Navigation */

nav {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
        display: inline-block;
        *display: inline;
        zoom: 1;

		li {
		    margin: 0 3px;
	        display: inline-block;
	        *display: inline;
	        zoom: 1;
		    line-height: 60px;
		    vertical-align: top;
			color: #ccc;

			a {
			    min-width: 80px;
			    padding: 0 15px;
			    display: block;
			    text-align: center;
			    font-size: 1em;
			    color: inherit;
			}
			
			a:hover {
			    background-color: darken($colour-darkblue, 3%);
			    color: #fff;
			    text-decoration: none;
			}
		}

		li.current_page_item a {
			text-decoration: underline;
			color: lighten($colour-darkblue, 60%);
		}

		li.current-menu-item > ul.sub-menu li a {
			color: #ccc ;
			text-decoration: none;
		}

		li.current-menu-item > ul.sub-menu li a:hover {
			color: #fff !important;
			text-decoration: none;
		}
		
		li:hover > ul.sub-menu {
			display: block;
		}		

	}
}

nav ul.menu ul.sub-menu {
	display: none;
	max-width: 400px;
	position: absolute;
	z-index: 99999;
	padding: 0;
	margin: 0;
	border-right: 1px solid darken($colour-darkblue, 1%);
	border-left: 1px solid darken($colour-darkblue, 1%);
	@include box-shadow(lighten($colour-darkblue, 1%) 2px 2px 5px); 


	li {
		padding: 0px;
		margin: 0px;
		display: block;
		@include background-image(linear-gradient(lighten($colour-darkblue, 7%), lighten($colour-darkblue, 5%)));
		background-color: lighten($colour-darkblue, 5%);
		border-bottom: 1px solid darken($colour-darkblue, 1%);

		a {
			color: #ccc;
		}

		a:hover {
			color: #fff;
		}

	}

	li.current-menu-item > ul.sub-menu li a {
			color: #ccc;
			text-decoration: none;
		}

	li.current_page_item a {
			text-decoration: underline;
			color: lighten($colour-darkblue, 60%);
		}
}

#mainNav, #bottomNav {
	float: right;
}

.quote {
	@extend .btn;
}

