
#mainHeader {

	width: 100%;
	height: 60px;
	background-color: $colour-darkblue;
}

#logo {
	height: 30px;
    float: left;
    margin: 15px 0;
}

nav {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 60px;

		li {
		    margin-left: 10px;
		    display: inline-block;
		    line-height: 60px;

			a {
			    min-width: 120px;
			    display: block;
			    text-align: center;
			    font-size: 1em;
			}
			
			a:hover {
			    background-color: darken($colour-darkblue, 3%);
			    color: #fff;
			    text-decoration: none;
			}
		}

		li.current-menu-item a {
			text-decoration: underline;
			color: lighten($colour-darkblue, 60%);;
		}
	}
}

#mainNav, #bottomNav{
	float: right;
}

.quote {
	@extend .btn;
}

