@media screen and (max-width: 600px){

	h1 {
		font-size: 2.5em;
	}

	#mainNav, #bottomNav {
		display: none;
	}

	.wrap {
		width: 88%;
		padding: 0 6%;
	}

	ul#servicesList {
		list-style-type: none;
		width: 100%;
		text-align: center;

		li.serviceBox {
			padding: 2% 5%;
			margin: 2% auto;
			width: 90%;
			max-width: 410.063px;
			display: inline-block;
			background-color: #fff;
			@include border-radius($box-radius);
		}
	}

	#meetTheTeam {

		h1, h2, .btn {
			text-align: center;
		}

		p {
			margin: 1em auto;
		}

		#teamDesc, #teamMembers {
			width: 100%;
			margin: 0 auto;
			display: block;
		}

		#teamMembers {
			max-width: 410.063px;

			.teamMember {
				margin: 0;

				.memberAvatar {
					height: auto;
					width: 30%;
					margin: 2% auto;
					display: block;
				}
				.memberDesc {
					width: 100%;

					p {
						text-align: center;
						margin-top: 0;
					}
				}
			}

		}
	}

	#mainNav, .social, #bottomNav, #copyright {
		float: none;
		text-align: center;
	}
}