#nav-wrap-mobile, a#mobile-button:link  {
	display: none;
}

@media screen and (max-width: 400px){
	#logo {
		width: 60%;
		max-width: 210px;
		margin: 0;
	}

	#logo a, #logo img {
		width: 100%;
		line-height: 60px;
		display: inline-block;
		vertical-align: text-bottom;
	}
}

@media screen and (max-width: 600px){

	.promo-img {
		width: 100%;
		display: block !important;
		margin: 0 auto;
	}

	.promo-details {
		width: 90% !important;
		display: block !important;
		margin: 0 auto;
	}

	.promo {
		ul { 
			margin: 0px;
			padding: 10px;
			text-align: justify;
			width: 90% !important;
		}
	}

	h1 {
		font-size: 2.5em;
	}

	.wrap {
		width: 88%;
		padding: 0 6%;
	}

	.strip, .whiteStrip, .thumbStrip, .serviceWrap {
		padding: 6% 0;
	}

	ul#servicesList, ul#portfolioList {
		list-style-type: none;
		width: 100%;
		text-align: center;

		li.serviceBox, li.portfolioBox {
			padding: 6% 5%;
			margin: 2% auto;
			width: 90%;
			max-width: 410.063px;
			display: inline-block;
			background-color: #fff;
			@include border-radius($box-radius);
			height: auto;
		}

		li.p {
			text-align: justify;
		}
		li.portfolioBox {
			height: 520px;
		}
	}

	#meetTheTeam {

		h1, h2, .btn {
			text-align: center;
		}

		p {
			margin: 1em auto;
		}

		#teamDesc, #teamMembers {
			width: 100%;
			margin: 0 auto;
			display: block;

		}

		#teamMembers {
			max-width: 410px;

			.teamMember {
				width: 100%;
				margin: 0;
				padding: 5% 0;

				.memberAvatar {
					height: auto;
					width: 30%;
					margin: 2% auto;
					display: block;
				}
				.memberDesc {
					width: 100%;

					p {
						text-align: center;
						margin-top: 0;
					}
				}
			}
		}
	}

	.serviceDesc {

		width: 100%;
		max-width: 410px;

		h1 {
			margin-top: 0;
			text-align: center;
		}

	}

	.cycle-slideshow {
		width: 100% !important;
	}
}

@media screen and (min-width: 601px) and (max-width: 860px){

	.wrap {
		width: 92%;
		padding: 0 4%;
	}

	.strip, .whiteStrip, .thumbStrip, .serviceWrap {
		padding: 4% 0;
	}

	ul#servicesList, ul#portfolioList {
		list-style-type: none;
		width: 100%;
		text-align: center;

		li.serviceBox, li.portfolioBox {
			padding: 4%;
			margin: 1%;
			width: 40%;
			display: inline-block;
			background-color: #fff;
			@include border-radius($box-radius);
		}

		li.serviceBox:last-child {
			width: 90%;
			max-width: 620px;
			height: auto;

			p {
				text-align: center;	
			}
			
		}

		li.p {
			text-align: justify;
		}

		li.portfolioBox {
			height: 590px;
		}
	}
	#meetTheTeam {

		#teamMembers {
			max-width: 100%;

		}
	}

	.serviceDesc {

		width: 100%;
		max-width: 620px;

		h1 {
			margin-top: 0;
			text-align: center;
		}

	}

}

@media screen and (max-width: 920px){
//Mobile Nav

	nav#mainNav, nav#bottomNav {
		display: none;
	}

	a#mobile-button:link, a#mobile-button:visited  {
		min-width: 50px;
		line-height: 44px;
		padding: 0 15px;
		text-align: center;
		@include border-radius($btn-radius);
		display: block;
		position: absolute;
		right: 6%;
		top: 8px;
		background-color: lighten($colour-darkblue, 10%);
		color: #ddd;
	}

	a#mobile-button:hover, a#mobile-button:focus {
		background-color: lighten($colour-darkblue, 16%);
		color: #fff;
	}

	#nav-wrap-mobile {
		display: none;
		top: 60px;
		left: 0;
		height: 90%;
		width: 70%;
		z-index: 1;
		position: absolute;
	}
	
	ul.menu-mobile {
		margin: 0;
		padding: 0;
		list-style-type: none;
		border-right: 1px solid $colour-darkblue;
	}

	ul.menu-mobile li{
		width: 100%;
		height: auto;
		text-align: center;
		margin: 0;
		text-decoration: none;
	}

	ul.menu-mobile li a {
		display: block;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		background-color: lighten($colour-darkblue, 6%);
		border-bottom: 1px solid $colour-darkblue;
		min-height: 40px;
		line-height: 40px;
		font-size: 1.2em;
	}

	ul.menu-mobile li a:hover {
		background-color: lighten($colour-darkblue, 16%);
		text-decoration: none;
		color: #fff;
	}

	ul.sub-menu {
		display: block;
		position: static !important;
		text-decoration: none;
		border: none;
		color: #aaa;
	}

	ul.sub-menu li a {
		display: block;
		background-color: lighten($colour-darkblue, 3%);
		min-height: 32px;
		line-height: 32px;
		font-size: 1em !important;
		border: none;
	}

	nav#nav-mobile ul li.current-menu-item {
		text-decoration: underline;
		color: lighten($colour-darkblue, 60%);
	}
	
	.service, .serviceImg, .serviceDesc {
		text-align: center;
		direction: ltr;
	}

	.serviceImg {
		width: 30%;
	}

	#featuredImg {
		width: 75%;
	}

	#featuredDesc {
		max-width: 500px;
		width: 92%;
		padding-bottom: 3%;

		.featuredBtn {
	        text-align: center;
			a {
		        min-width: 60px;
		        line-height: 48px;
		        padding: 0 20px;
		        font-size: 1.125em;
		    }
		}
	}

	.cycle-slideshow {
		width: 80%;
	}

}