.post {
	border-bottom: 1px solid lighten($colour-darkblue, 73%);

	.lightStrip {
		.postInfo {
			color: lighten($colour-font, 10%);
		}
	}

	.postInfo {
	    max-width: 800px;
	    margin: 14px auto 0 auto;
	    text-align: center;
	    font-weight: 300;
	    font-size: 1em;
	    display: block;
		color: #ccc;
	}

	.thumb {
		width: 100%;
		max-width: 1040px;
		max-height: 260px;
		margin: 0 auto;
		display: block;
		text-align: center;
		overflow: hidden;

		img {
			height: auto;
			max-width: 100%;
		}
	}

	.postWrap {
		@extend .wrap;
	    max-width: 922.641px;
	    /* maxwidth: 615.094px; */
	    text-align: justify;
	}

	.readMore {
		@extend .btn;
		text-align: center;
		padding: 16px 0;
		height: 38px;

	}
}

#postsNav {
	@extend .btn;
	line-height: 60px;
	background-color: lighten($colour-lightblue, 21%);
	text-align: center;
		a {
			margin: 0 5px;
		}
}