
#topStrip {
	.postInfo {
		color: #ccc;
	}
}

.postInfoWrap {
	margin: 30px auto 14px auto;
}

.postInfo {
    max-width: 800px;
    margin: 6px auto;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    display: block;
}

.thumbStrip {
	background-color: lighten($colour-darkblue, 80%);
	display: block;
	padding: 2% 0;
}

.thumb {
	max-width: 100%;
	display: block;
	text-align: center;

	img {
		height: auto;
		max-width: 100%;
	}
}

.blogPost h1, .blogPost p {
	margin-top: 0px;
}

.postWrap {
	@extend .wrap;
	max-width: 620px;
	text-align: center;
}

.blogPost, #postsNav {
	border-top: 5px solid lighten($colour-darkblue, 76%);
}

#postsNav {
	@extend .btn;
	line-height: 60px;
	background-color: lighten($colour-lightblue, 21%);
	text-align: center;
		a {
			margin: 0 5px;
		}
}