.postInfo {
    max-width: 800px;
    margin: 14px auto 0 auto;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
    display: block;

}

.thumb {
	width: 100%;
	height: 30%;
	margin-bottom: 40px;
}

.post {
    max-width: 922.641px;
    text-align: justify;
}

