.serviceWrap {
	@extend .wrap;
	max-width: 1240px;
	text-align: center;
}

.rtl {
	direction: rtl;
}

.service {
	@extend .strip;
	background-color: #666666;

	h1, h2, h3, p, h1 a {
		color: #fff;
		margin-top: 0;
	}

	p {
		text-align: justify;
	}
}

.serviceDesc {
	width: 48%;
	max-width: 616px;
    display: inline-block;
    *display: inline;
    zoom: 1;
	vertical-align: middle;

	h1 {
		text-align: left;
	}

}

.serviceImg {
	width: 48%;
    display: inline-block;
    *display: inline;
    zoom: 1;
	vertical-align: middle;

	img {
		height: auto;
		width: 100%;
	}
}

.serviceImg, .serviceDesc {
	direction: ltr;
}


.serviceBtn {
	@extend .btn;
	text-align: center;
	a {
		color: #ddd;
		line-height: 44px;
        padding: 0 20px;
        font-size: 0.875em;
        margin: 1em 0;
	}

    a:hover {
        color: #fff;
    }
}

#starter-package {
	background-color: $colour-purple;

	.serviceBtn {
		a {
			background-color: darken($colour-purple, 12.5%);
		}

		a:hover {
			background-color: lighten($colour-purple, 10%);
		}
	}
}

#website-design {

	background-color: $colour-red;

	.serviceBtn {
		a {
			background-color: darken($colour-red, 12.5%);
		}

   		a:hover {
    		background-color: lighten($colour-red, 10%);
    	}
	}

}

#responsive-website-design{

	background-color: $colour-orange;

	.serviceBtn {
		a {
			background-color: darken($colour-orange, 12.5%);
		}

   		a:hover {
    		background-color: lighten($colour-orange, 10%);
    	}
	}
}

#green {

	background-color: $colour-green;

	.serviceBtn {
		a {
			background-color: darken($colour-green, 12.5%);
		}

   		a:hover {
    		background-color: lighten($colour-green, 10%);
    	}
	}

}

#ecommerce {
	background-color: $colour-green-blue;

	.serviceBtn {
		a {
			background-color: darken($colour-green-blue, 12.5%);
		}

		a:hover {
			background-color: lighten($colour-green-blue, 10%);
		}
	}
}

#wordpress-design {

	background-color: $colour-blue;

	.serviceBtn {
		a {
			background-color: darken($colour-blue, 12.5%);
		}

   		a:hover {
    		background-color: lighten($colour-blue, 10%);
    	}
	}
}

.serviceHeaderWrap {
	@extend .contentWrap;
	text-align: center;

	.servicePageImg {
		width: 30%;
		max-width: 175px;
		display: inline-block;
	    *display: inline;
	    zoom: 1;
		text-align: center;

		img {
			height: auto;
		}
	}

}
