.serviceWrap {
	@extend .wrap;
	max-width: 1240px;
	text-align: center;
}
.serviceDesc {
	width: 48%;
	max-width: 616px;
    display: inline-block;
    *display: inline;
    zoom: 1;
	vertical-align: middle;

	h1 {
		text-align: left;
	}

}

.serviceImg {
	width: 48%;
    display: inline-block;
    *display: inline;
    zoom: 1;
	vertical-align: middle;

	img {
		height: auto;
		width: 100%;
	}
}

.serviceImg, .serviceDesc {
	direction: ltr;
}


.serviceBtn {
	@extend .btn;
	text-align: center;
	a {
		color: #ddd;
		line-height: 44px;
        padding: 0 20px;
        font-size: 0.875em;
        margin: 1em 0;
	}

    a:hover {
        color: #fff;
    }
}

#design {
	@extend .strip;
	background-color: $colour-red;

	h1, h2, h3, p, h1 a {
		color: #fff;
	}

	p {
		text-align: justify;
		margin-top: 0;
	}

	.serviceWrap {
		direction: rtl;
	}

	.serviceBtn {
		a {
			background-color: darken($colour-red, 12.5%);
		}

	    a:hover {
	        background-color: darken($colour-red, 7.5%);
	    }
	}

}

#develop {
	@extend .strip;
	background-color: $colour-green;
	
	h1, h2, h3, p, h1 a {
		color: #fff;
	}

	p {
		text-align: justify;
		margin-top: 0;
	}

	.serviceBtn {
		a {
			background-color: darken($colour-green, 12.5%);
		}

	    a:hover {
	        background-color: darken($colour-green, 7.5%);
	    }
	}

}

#host {
	@extend .strip;
	background-color: $colour-blue;

	h1, h2, h3, p, h1 a {
		color: #fff;
	}

	.serviceWrap {
		direction: rtl;
	}

	p {
		text-align: justify;
		margin-top: 0;
	}

		.serviceBtn {
		a {
			background-color: darken($colour-blue, 12.5%);
		}

	    a:hover {
	        background-color: darken($colour-blue, 7.5%);
	    }
	}

}
